.planetGrid {
    width: 82.10%;
    margin: 0 auto;
    text-align: center;

    font-size: $Spartan;

    .imgContainer {
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .planetImg {
            max-height: 20rem;
            max-width: 20rem;
            margin: 0 auto;
            display: flex;
        }

        .planetSurfaceImg {
            position: absolute;
            max-width: 10rem;
            max-width: 10rem;
            top: 10rem;
        }
    }



    .planetDescription {
        h1 {
            font-size: 3rem;
            font-family: $Antonio;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 40px;
        }

        .infoLink {
            display: inline-block;
            margin-bottom: 20px;
            color: $Ghosted;

            a {
                .linkIcon {
                    background-image: url('../../public/assets/icon-source.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 15px;
                    height: 15px;
                    color: $LightGrey;
                    display: inline-block;
                    margin-left: 4px;
                    padding-top: 3px;
                }
            }

            a:link {
                color: $LightGrey;
            }

            a:visited {
                color: $LightGrey;
            }

        }
    }

    .planetInfo {


        .planetInfoList {
            width: 100%;

            .planetInfoItem {
                display: flex;
                justify-content: space-between;
                padding: 15px;
                border: .5px solid grey;
                margin: 10px;
                font-family: $Antonio;

            }

            .measurement {
                color: $LightGrey;
                margin: 0;
            }

            .unit {
                font-size: 20px;
                font-family: $Antonio;
                margin: 0;
            }


        }
    }

}

@include for-size(phone-only) {
    .planetGrid {

        .planetButtonGroup {
            display: none;
        }
    }
}

@include for-size(tablet-up) {

    .planetGrid {

        display: grid;
        grid-template-rows: 1fr 1fr .5fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "planetImage planetImage"
            "planetDescription buttonGroup"
            "planetInfo planetInfo";

        .imgContainer {
            grid-area: planetImage;
            grid-column: span 2;
            padding-bottom: 0;

            .planetImg {
                max-height: 25rem;
                max-width: 25rem;                
            }

            .planetSurfaceImg {
                position: absolute;
                max-width: 12.5rem;
                max-width: 12.5rem;
                top: 12.5rem;
            }

        }

        .planetButtonGroup {
            grid-area: buttonGroup;

            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-self: end;

            font-family: $Antonio;
            letter-spacing: 1.5px;
            margin-bottom: 30px;

            .button-styles {
                margin-bottom: 25px;
                width: 281px;
                border: .5px solid $Ghosted;
                outline: none;
                background-color: transparent;
                color: white;
                text-align: left;
                padding: 10px 15px;
                letter-spacing: 1.5px;


                span {
                    margin-right: 10px;
                    color: $Ghosted;
                }
            }

            .button-styles:hover {
                background-color: $Ghosted;
            }

            .MercuryButton {
                background-color: $MercuryColor;
                border: none;
            }

            .VenusButton {
                background-color: $VenusColor;
                border: none;
            }

            .EarthButton {
                background-color: $EarthColor;
                border: none;
            }

            .MarsButton {
                background-color: $MarsColor;
                border: none;
            }

            .JupiterButton {
                background-color: $JupiterColor;
                border: none;
            }

            .SaturnButton {
                background-color: $SaturnColor;
                border: none;
            }

            .UranusButton {
                background-color: $UranusColor;
                border: none;
            }

            .NeptuneButton {
                background-color: $NeptuneColor;
                border: none;
            }

        }

        .planetDescription {
            grid-area: planetDescription;
            text-align: left;
            align-self: center;
        }

        .planetInfo {
            grid-area: planetInfo;

            .planetInfoList {
                display: flex;
                justify-content: space-between;

                .planetInfoItem {
                    display: flex;
                    flex-direction: column;
                    width: 164px;
                    height: 88px;
                    text-align: left;
                    margin: 0;
                }

                .planetInfoItem:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
}

@include for-size(desktop-up) {
    .planetGrid {
        display: grid;
        grid-template-rows: .50fr .50fr .5fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "planetImage planetDescription"
            "planetImage buttonGroup"
            "planetInfo planetInfo";

        .imgContainer {
            grid-area: planetImage;
            align-self: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding-top: 2rem;
            padding-bottom: 2rem;

            .planetImg {
                max-height: 32rem;
                max-width: 32rem;                
            }   
        }

        .planetButtonGroup {
            grid-area: buttonGroup;
            width: 350px;
            align-self: end;
            justify-self: end;


            .button-styles {
                width: 350px;
            }
        }

        .planetDescription {
            grid-area: planetDescription;

            padding-top: 40px;
            text-align: left;
            width: 350px;
            justify-self: end;
            align-self: end;
        }

        .planetInfo {
            grid-area: planetInfo;

            .planetInfoList {

                justify-content: space-between;

                .planetInfoItem {
                    width: 250px;
                    height: 100px;
                    margin: 0;

                    .measurement {
                        font-weight: bold;
                    }

                    .unit {
                        font-size: 1.80rem;
                    }
                }
            }
        }
    }

}