@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&display=swap');
//colors 
$Background-Color: #070724;
$Ghosted: #38384F;
$LightGrey: #838391;
$MercuryColor: #419EBB;
$VenusColor: #EDA249;
$EarthColor: #6f2ed6;
$MarsColor: #d14c32;
$JupiterColor: #d83a34;
$SaturnColor: #cd5120;
$UranusColor: #1ec2a4;
$NeptuneColor: #2d68f0;

//fonts 

$Antonio: 'Antonio';
$Spartan: 'League Spartan';


